{% extends 'main/base.html' %}

{% load static %}
{% load course_filters %}

{% block title %}{{ course.name }} - دورة تدريبية{% endblock %}

{% block head %}
    {{ block.super }}
<link rel="stylesheet" href="{% static 'css/course-view.css' %}">
<script src="{% static 'js/course-view.js' %}"></script>
{% endblock %}

{% block content %}
<div class="video-player">
  <div class="video-container">
    <video
      src="{{ video.video.url }}"
      type="{{ video.video.content_type }}"
      id="vid"
      width="640"
      height="360"
      controls
      {% if video_progress.last_position %}
      data-last-position="{{ video_progress.last_position }}"
      {% endif %}
      {% if video_progress.watched %}
      data-watched="true"
      {% endif %}
    >
      Your browser does not support the video tag.
    </video>
    
    {% if video_progress.watched %}
    <div class="video-completed-badge">
      <i class="fas fa-check-circle"></i> تم مشاهدة هذا الفيديو
    </div>
    {% endif %}
  </div>
  
  {% if questions %}
  <form class="hide quesForm" id="ques">
    {% csrf_token %} {% for question in questions %}
    <div class="quesBox">
      <p>Question. {{ question.text }}</p>
      {% for answer in question.answer_set.all %}
      <input
        type="checkbox"
        name="{{ question.id }}[]"
        value="{{ answer.id }}"
      />{{ answer.text }} {% endfor %}
    </div>
    {% endfor %}
    <button id="sub" type="submit" class="submit-btn">Submit</button>
  </form>
  {% endif %}
  <div class="hide results" id="results">
    <h2>Quiz Results</h2>
    {% if quiz %}
      <p>Passing Score: {{ quiz.pass_mark }}</p>
      <p>Score: {{ score }}</p>
      {% if passed %}
        <p>You passed the quiz!</p>
      {% else %}
        <p>You did not pass the quiz.</p>
      {% endif %}
    {% else %}
      <p>No quiz for this video.</p>
    {% endif %}
  </div>
</div>

{% endblock content %}
